.container {
    @apply 
        mx-auto;

    max-width: theme('screens.xl');
}

.diagonal-stripes-grey {
    background-image: linear-gradient(135deg, #ffffff 41.67%, #eeeeee 41.67%, #eeeeee 50%, #ffffff 50%, #ffffff 91.67%, #eeeeee 91.67%, #eeeeee 100%);
    background-size: 8.49px 8.49px;
}