.diagonal-stripes-grey {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVQoU2NkIAIYGhpKMRJSB1J0/vz5Z3gVwhSBDMOpEFkRToXoirAqxKYIQyEuRSgK8SmCKySkCKyQGEUghQDJcyS4U9p1UQAAAABJRU5ErkJggg==")
}

.gradient-blue {
    background: linear-gradient(180deg, #3E79B8 0%, #36689D 100%), #386DA6;
}

.gradient-yellow {
    background: linear-gradient(180deg, #F8F4B3 0%, #E3DF9B 100%), #3F7ABA;
}


/* Embla carousel */

.embla {
    @apply w-full;
  }
  
  .embla__wrap {
    @apply relative;
  }
  
  .embla__viewport {
    @apply w-full overflow-hidden;
  }
  
  .embla__container {
    @apply flex;
  }
  
  .embla__slide {
    @apply relative flex-1;
  }
  
  .embla__slide--gallery {
    flex: 0 0 100%;
    padding-left: 0px;
  
    /* @screen md {
      flex: 0 0 50%;
      padding-left: 0px;
    }
  
    @screen xl {
      flex: 0 0 25%;
      padding-left: 0px;
    } */
  }
  
  
  /*! purgecss start ignore */
  .embed-container {
    position: relative; padding-bottom: 45%; height: 0; overflow: hidden;;
  } 
  
  .embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute; top: 0; left: 0; width: 100%; height: 100%;
  }

  .bg-boxes {
    transform-origin: center;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
  }
    /*! purgecss end ignore */