

.hero {
    &__heading {
      @apply my-1 text-2xl text-blue-dark leading-tight;
    }
    &__bold {
      @apply font-bold block;
    }
    &__small {
      @apply my-1 text-blue-mid leading-tight max-w-xl;
    }
    @screen lg {
      &__heading {
        @apply text-3xl;
      }
      &__small {
        @apply text-lg;
      }
    }
    @screen xl {
      &__heading {
        @apply text-5xl;
      }
      &__bold {
        /*@apply inline;*/
      }
      &__small {
        @apply text-xl;
      }
    }

    &__image-container {
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+21,ffffff+100&0+17,1+18,1+100 
background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 17%, rgba(255,255,255,1) 18%, rgba(255,255,255,1) 21%, rgba(255,255,255,1) 100%); 
background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 17%,rgba(255,255,255,1) 18%,rgba(255,255,255,1) 21%,rgba(255,255,255,1) 100%); 
background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 17%,rgba(255,255,255,1) 18%,rgba(255,255,255,1) 21%,rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
    }

  }